# Node modules
node_modules/
# Entornos y logs
.env
.env.local
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Salida de build
/build
/dist
# Archivos del sistema operativo
.DS_Store
Thumbs.db
